@model IEnumerable<NewsBlog.Models.User>

@{
    ViewBag.Title = "AdminView";
}

<h2>AdminView</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pasword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.canMakePosts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Admin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Username)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Pasword)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.canMakePosts)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Admin)
    </td>
    <td>
        @Html.ActionLink("Delete", "Delete", "Home", new { Id = item.ID }, null)
    </td>
    <td>
        @Html.ActionLink("Allow creation", "postMaking", "Home", new { Id = item.ID, canMakePosts = item.canMakePosts }, null)
    </td>
</tr>
}

</table>
