@model Models.Post


@Html.Partial("_MenuBar", new ViewDataDictionary { { "id", Session["ID"] } })

<h2>Make new Post</h2>

<form method="post" action="/Home/MakePostAction">
    <div class="form-horizontal">
        <h4>Posts</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Title" placeholder="Post title"/>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Text" placeholder="Posts text"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>

    </div>
</form>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
